In [5]:
import pandas as pd
vendas_df = pd.read_excel("../Exercicio02/Vendas.xlsx")
gerentes_df = pd.read_excel("Gerentes.xlsx")
vendas_por_gerentes_df = gerentes_df.merge(vendas_df)
display(vendas_por_gerentes_df)
vendas_por_gerentes_df.to_csv("vendas_por_gerentes.csv", index=False)

,ID Loja,Gerente,Código Venda,Data,Produto,Quantidade,Valor Unitário,Valor Final
0,Iguatemi Esplanada,Salvador,1,2019-01-01,Sapato Estampa,1,358,358
1,Iguatemi Esplanada,Salvador,1,2019-01-01,Camiseta,2,180,360
2,Iguatemi Esplanada,Salvador,1,2019-01-01,Sapato Xadrez,1,368,368
3,Iguatemi Esplanada,Salvador,21,2019-01-02,Camisa Gola V Listrado,2,116,232
4,Iguatemi Esplanada,Salvador,34,2019-01-02,Sapato Listrado,1,363,363
...,...,...,...,...,...,...,...,...
65,Novo Shopping Ribeirão Preto,Diana,41,2019-01-02,Short Xadrez,4,100,400
66,Rio Mar Recife,Ana,46,2019-01-02,Camisa,1,100,100
67,Rio Mar Recife,Ana,46,2019-01-02,Calça Liso,2,190,380
68,Rio Mar Recife,Ana,46,2019-01-02,Cinto,1,200,200
69,Palladium Shopping Curitiba,Flavia,47,2019-01-02,Short,1,90,90