In [11]:
import pandas as pd
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)
vendas_df['Valor Unitário'].mean()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
65,47,2019-01-02,Palladium Shopping Curitiba,Short,1,90,90
66,48,2019-01-02,Shopping Midway Mall,Cueca Linho,2,93,186
67,49,2019-01-02,Iguatemi Esplanada,Terno Xadrez,3,709,2127
68,49,2019-01-02,Iguatemi Esplanada,Sapato Liso,1,368,368
69,51,2019-01-02,Parque Dom Pedro Shopping,Cinto Listrado,1,214,214

181.9857142857143